@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

p {
    margin-top: 1rem;
}

body {
    background-color: #555;
    color: white;
}

header {
    background-color: #111;
    padding: 2rem;
}

section {
    min-height: 50vh;
}

footer{
    padding: .5rem;
    text-align: center;

    .container {
        padding-top: 0;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    input, textarea {
        margin-bottom: .5rem;
    }
}

.fa-brands:hover {
    color: #777;
    border-color: #777;
}

.fa-brands {
    color: white;
    border: 2px solid white;
    border-radius: 20%;
    padding: .3rem;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding-top: 2rem;
}

.contact-details {
    h1, h3 {
        text-align: center;
    }

    form {
        margin-top: 1rem;
    }

    input[type=submit]{
        padding: .5rem;
        font-size: 1rem;
        font-weight: bold;
    }
    .social-icons {
        font-size: 2rem;
        margin-top: 1rem;
    }
}


#about {
    background-color: #00a2ff;
}

#about-me {
    h1 {
        font-size: 2.5rem;
        font-weight: 100;
    }
}

#skills {
    background-color: #333
}

#projects {
    background-color: #00a2ff;
}

#contact {
    background-color: #333;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    nav {
        .heading {
            font-size: 2rem;
            text-align: center;
        }
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        gap: 1rem;
        margin-top: 1rem;
    }

    .container {
        width: 75%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;

        .heading {
            width: 100%;
            font-size: 2rem;
            text-align: center;
        }

        .social-icons {
            display: flex;
            justify-content: end;
            font-size: 2rem;
            gap: 1rem;
        }
    }

    .container {
        width: 50%;
    }

    .contact-details {
        .social-icons {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1280px) {
    .contact-details {
        display: flex;
        gap: 1rem;

        div {
            flex: 1;
        }

        h1, h3 {
            text-align: start;
        }

        h1 {
            font-size: 2rem;
        }

        h3 {
            font-weight: 100;
        }

        .social-icons {
            justify-content: start;
        }
    }
} 